body{
  font-family: 'Truculenta';
}

.cell{
  width: 70px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}
#gameContainer{
  font-family: "Roboto Condensed", cursive;
  text-align: center;
  padding: 80px 60px;
  padding-right: 90px;
}
#cellContainer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}

.score-container-css{
  padding:16px;
}

.score-container-css div:nth-child(2n){
  margin: 10px 0;
}

.score-container-css div span{
  letter-spacing: 2px;
}

.score-text {
  padding: 0;
  margin: 0;
}

h1{
  text-align: center;
  margin-left: 40px;
  font-size: 3.5rem;
  font-family: 'Truculenta';
  /* font-size: 35px; */
}

body{
  color: white;
  background-image:url('image/jonathan-petersson.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: black;
}

section{
  backdrop-filter: blur(50px);
  border-radius: 20px;
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

button{
  font-family: "Roboto Condensed", cursive;
  font-weight: 600;
  padding:12px 15px;
  margin: 4px;
  margin-top: 10px;
  border-radius: 9px;
  cursor: pointer;
  transition: padding  0.2s ease-out;
  border: none;
}

button:hover{
  padding:12px 20px;
}

.image-c-css{
  padding: 10px 0;
  font-size: small;
}

.css-photographer {
  letter-spacing: 1px;
}

a{
  color: white;
  text-decoration: underline;
}